.health_check_result_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  text-align: center;
}

.health_check_result_page .title {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.health_check_result_icon {
  display: block;
}
