.state_bar {
  width: 100%;
  height: 41px;
  flex-shrink: 0;
  padding-inline: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.state_bar_time {
  color: #000000;
  font-family: "SF Pro Text", "SF Pro Display", -apple-system,
    BlinkMacSystemFont, "Segoe UI", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
}

.state_bar_icons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.state_bar_cellular {
  width: 18px;
  height: 11px;
}

.state_bar_wifi {
  width: 16px;
  height: 12px;
}

.state_bar_battery {
  width: 25px;
  height: 12px;
}
