.title {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title h1,
.title h2,
.title h3,
.title h4,
.title h5 {
  margin: 0;
  color: #111111;
  font-weight: 700;
}

.title h1 {
  font-size: 28px;
}

.title h2 {
  font-size: 24px;
}

.title h3 {
  font-size: 20px;
}

.title h4 {
  font-size: 18px;
}

.title h5 {
  font-size: 16px;
}

.title p {
  margin: 0;
  color: #505050;
  font-size: 14px;
}
