.title{
  display: flex;
  flex-direction: column;
  gap: var(--gap-title);
}

.title h1,
.title h2,
.title h3,
.title h4,
.title h5{
  margin: 0;
  color: var(--font-block);
  font-weight: var(--font-weight-sb);
  line-height: var(--app-line-height);
}

.title h1{
  font-size: var(--font-title-h1);
}

.title h2{
  font-size: var(--font-title-h2);
}

.title h3{
  font-size: var(--font-title-h3);
}

.title h4{
  font-size: var(--font-title-h4);
}

.title h5{
  font-size: var(--font-title-h5);
}

.title p{
  margin: 0;
  color: var(--font-gray);
  font-size: var(--font-body-sm);
  line-height: var(--line-height-sm);
}

.p_semibold{
  font-size: var(--font-body-md);
  font-weight: var(--font-weight-md);
}

.p_regular{ 
  font-size: var(--font-body-sm);
  font-weight: var(--font-weight-rg);
  line-height: var(--line-height-sm);
}

.caption_medium{
  font-size: var(--font-caption-md);
  font-weight: var(--font-weight-md);
  line-height: var(--line-height-sm);
}

.caption_regular{
  font-size: var(--font-caption-sm);
  font-weight: var(--font-weight-rg);
  line-height: var(--line-height-sm);
  color: var(--font-gray);
}