@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

:root{
  --point-dark-red: #A10803;
  --point-dark-blue: #0369A1;
  --font-block: #111;
  --font-disable: #999;
  --font-gray: #505050;
  --block: #111;
  --white: #fff;
  --sub2-gray: #E5E5EC;
  --sub1-blue: #BEE3F8;
  --primary-purple: #C4B5FD;
}

body{
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}